<main>
  <section class="encabezado py-5 text-center container">
    <div class="item item1">
      <p>Eventos</p>
    </div>
    <div class="item item2">
      <button class="button-19" role="button"><a routerLink="/aggEvento"> Postular mi evento</a></button>
    </div>
  </section>
  <section>
    <!--<app-aggevento></app-aggevento>
    -->
  </section>

<div class="contenido">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCCeIFIoUfFEUaMSaym63qHaFVsxi7sdDjs_U2gp1kplPq7f2UBWVYks1LOJtawUW8XOE&usqp=CAU" width="300px" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
              
            </div>

            <!-- Aqu[i va un aprueba]-->
            <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="" src="https://thumbs.dreamstime.com/b/el-logo-del-festival-barbacoa-bifurcaci%C3%B3n-y-fuego-de-salchichas-la-parrilla-salchicha-caliente-en-un-tenedor-signo-carnicer%C3%ADa-180959926.jpg"  width="300px" alt="Card image cap">
                  </div>
                  <div class="card-body">
                        
                    <div id="theList">
                      <h2>The list</h2>
                      <ul>
                        <li *ngFor="let item of events"> {{item.descripcion}} | {{item.nombre}} | {{item.fecha}}</li>
                      </ul>
                    </div>    
                  </div>
              </div>
            
          </div>


            <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="" src="https://thumbs.dreamstime.com/b/el-logo-del-festival-barbacoa-bifurcaci%C3%B3n-y-fuego-de-salchichas-la-parrilla-salchicha-caliente-en-un-tenedor-signo-carnicer%C3%ADa-180959926.jpg"  width="300px" alt="Card image cap">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
            
          </div>

          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="https://thumbs.dreamstime.com/b/el-logo-del-festival-barbacoa-bifurcaci%C3%B3n-y-fuego-de-salchichas-la-parrilla-salchicha-caliente-en-un-tenedor-signo-carnicer%C3%ADa-180959922.jpg"  width="300px" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          
        </div>
        </div>
    </div>
</div>
</div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>